<html>
<head><title>Parkko | Cashier</title>
<meta charset="UTF-8"></head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 pull-right">
                <form action="#">
                    <table>
                        <tbody>
                            <tr>
                                <td>ชื่อ: </td>
                                <td>pppp</td>
                            </tr>
                            <tr>
                                <td>นามสกุล: </td>
                                <td>aaaa</td>
                            </tr>
                            <tr>
                                <td>ทะเบียนรถ: </td>
                                <td>ffff</td>
                            </tr>
                            <tr>
                                <td>จังหวัด: </td>
                                <td>BKK</td>
                            </tr>
                            <tr>
                                <td>วันเวลาที่เข้า: </td>
                                <td>วันเสาร์ ที่ ๑๑ มกราคม พ.ศ.๒๕๕๘</td>
                            </tr>
                            <tr>
                                <td>วันเวลาที่ออก: </td>
                                <td>วันอาทิตย์ ที่ ๑๒ มกราคม พ.ศ.๒๕๕๘</td>
                            </tr>
                            <tr>
                                <td>ราคาที่ต้องชำระ: </td>
                                <td>50 บาท</td>
                            </tr>
                            <tr>
                                <td>จำนวนเงินที่ชำระ: </td>
                                <td><input type="text" value="1000">บาท<br></td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="button" id="calculate_button" value="คำนวนเงินทอน"><br>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
